;/ =====================================
;/ Dans les Airs - Jodel DR-1050
;/ Name: texture.cfg
;/ Create by: David W.
;/ Date: xx/xx/xxxx
;/ Version: 0.0.11
;/ Contact: http://danslesairs.fr
;/ Mail: wisser.david@gmail.com
;/ =====================================


[fltsim]

fallback.1=..\texture.common